* {
  box-sizing: border-box;
}

.container{
  padding-left: 400px;
}

.sidebar {
  position: fixed;
  width: 400px;
  left: 0px;
  top: 0px;
  padding: 20px;
}

.contextual {
  height: 300px;
  border: solid 2px #ccc;
  overflow: auto;
  padding: 10px;
}

.section {
  height: 600px;
  background: #cccccc;
  margin-bottom: 20px;
}
